<GridLayout rows=" *, auto" class="form gradient">
    <GridLayout col="0" row="0" columns="*,auto" rows="auto, auto, auto" class="input-field m-30"
                verticalAlignment="center"
                horizontalAlignment="center">
        <StackLayout verticalAlignment="center" horizontalAlignment="center" class="m-30" row="0" colSpan="2">
            <Label text=""
                   style="font-weight: bold"
                   textWrap="true"></Label>
        </StackLayout>
        <TextField class="input"
                   col="0" row="1"
                   hint="20"
                   keyboardType="number"
                   [(ngModel)]="this.value"
                   returnKeyType="next"
                   textAlignment="right"
                   (returnPress)="setValue()"></TextField>
        <Label text="€" col="1" row="1" class="m-10 postfix"></Label>
        <StackLayout class="hr-light" row="2" colSpan="2"></StackLayout>
    </GridLayout>
    <GridLayout class="m-30" row="2" col="1" columns="*,*">
        <Label (tap)="this.back()" row="0" text="<" verticalAlignment="middle"
               col="0" horizontalAlignment="center" class="icon icon-lg"></Label>
        <Label *ngIf="this.toAdd" (tap)="setValue()" row="0" text="+" verticalAlignment="middle"
               col="1" horizontalAlignment="center" class="icon icon-sm icon-round-md"></Label>
        <Label *ngIf="!this.toAdd" (tap)="setValue()" row="0" text="-" verticalAlignment="middle"
               col="1" horizontalAlignment="center" class="icon icon-sm icon-round-md"></Label>
    </GridLayout>
</GridLayout>
