<GridLayout rows=" *, auto" class="form gradient">
    <GridLayout col="0" row="0" columns="*,auto" rows="auto, auto, auto" class="input-field m-30"
                verticalAlignment="center"
                horizontalAlignment="center">
        <StackLayout verticalAlignment="center" horizontalAlignment="center" class="m-30" row="0" colSpan="2">
            <Label text=""
                   style="font-weight: bold"
                   textWrap="true"></Label>
        </StackLayout>
        <TextField class="input"
                   col="0" row="1"
                   hint="20"
                   keyboardType="number"
                   fontSize="72"
                   [(ngModel)]="this.value"
                   returnKeyType="next"
                   textAlignment="right"
                   (returnPress)="setValue()"></TextField>
        <Label text="€" col="1" row="1" fontSize="72" class="m-10"></Label>
        <StackLayout class="hr-light" row="2" colSpan="2"></StackLayout>
    </GridLayout>
    <GridLayout class="m-30" row="1" columns="*,*">
        <Image src="res://previous" class="btn" col="0"
               (tap)="this.back()" horizontalAlignment="center"></Image>
        <Image *ngIf="this.toAdd" class="btn btn-primary" horizontalAlignment="center"
               (tap)="setValue()" src="res://plus" col="1"></Image>
        <Image *ngIf="!this.toAdd" class="btn btn-primary" horizontalAlignment="center"
               (tap)="setValue()" src="res://minus" col="1"></Image>
    </GridLayout>
</GridLayout>
