<GridLayout rows="auto, *, auto" class="gradient">

    <StackLayout row="0" horizontalAlignment="right" class="m-30" width="150" orientation="horizontal">
        <Label (tap)="resetValue()" row="0" class="icon icon-xs icon-round" text="r"></Label>
        <Label (tap)="goTo('/settings')" row="0" class="icon icon-xs icon-round" text="s"></Label>
    </StackLayout>

    <GridLayout class="m-30" col="1" row="1" columns="*,auto" rows="auto, auto, auto" class="input-field"
                verticalAlignment="center"
                horizontalAlignment="center">
        <Label col="0" row="0" text="You can still spend"
               textAlignment="center"></Label>
        <Label class="text-lg"
               col="0" row="1"
               text="{{this.currentAmount}}€"
               textAlignment="center"
               ngDefaultControl
               [(ngModel)]="this.income"></Label>
        <StackLayout class="hr-light" row="1" colSpan="2"></StackLayout>
    </GridLayout>

    <GridLayout class="m-30" row="2" col="1" columns="*,*">
        <Label (tap)="goTo('/operation/withdraw')" row="0" text="-" verticalAlignment="middle"
               col="0" horizontalAlignment="center" class="icon icon-sm icon-round-md"></Label>
        <Label (tap)="goTo('/operation/add')" row="0" text="+" verticalAlignment="middle"
               col="1" horizontalAlignment="center" class="icon icon-sm icon-round-md"></Label>
    </GridLayout>

</GridLayout>

