<StackLayout class="gradient">
<GridLayout rows="auto, *, auto, auto" class="form settings p-x-30"
            [visibility]=" this.step === 0 ?  'visible': 'collapse'">
        <StackLayout verticalAlignment="center" horizontalAlignment="center" class="m-10 text-sm text-center text-bold" row="0" col="0">
            <Label text="Monthly fixed fees"
                   textWrap="true"></Label>
        </StackLayout>

    <ScrollView #scroller row="1" col="0">
        <StackLayout>
            <StackLayout *ngFor="let fee of this.fixedAmounts index as ite"
                        class="input-field border m-y-10"
                        horizontalAlignment="center">
                <GridLayout verticalAlignment="bottom" horizontalAlignment="center" class="m-y-5 m-x-2"
                columns="*, auto">
                    <Label *ngIf="this.fixedAmounts.length > 1" (tap)="removeFee(fee)" text="T" verticalAlignment="top" col="1"
                           horizontalAlignment="right" class="m-5 icon icon-xxs"></Label>
                </GridLayout>
                <GridLayout columns="*,10,*,auto" rows="auto"
                            class="input-field m-5 p-x-10"
                            horizontalAlignment="center">
                <TextField class="input"
                           [(ngModel)]="fee.label"
                           fontSize="20"
                           col="0"
                           hint="Fixed fee label"></TextField>
                <TextField class="input"
                           col="2"
                           hint="200"
                           keyboardType="number"
                           fontSize="46"
                           ngDefaultControl
                           [(ngModel)]="fee.amount"
                           returnKeyType="next"
                           textAlignment="right"></TextField>
                <Label text="€" col="3"class="postfix p-b-20"></Label>
                </GridLayout>
                <StackLayout class="error" horizontalAlignment="center" >
                    <Label *ngFor="let error of this.errors[ite]" [text]="error"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>

    <GridLayout class="m-5" row="2" columns="*">
        <Label (tap)="addFixedAmount()" text="P" verticalAlignment="middle" col="0"
               horizontalAlignment="center" class="icon icon-sm icon-round-md"></Label>
    </GridLayout>

    <GridLayout class="m-5" row="3" columns="*,*">
        <Label (tap)="cancel()" text="X" verticalAlignment="middle" col="0"
               horizontalAlignment="left" class="icon icon-md"></Label>
        <Label (tap)="setFixedAmount()" text="V" verticalAlignment="middle" col="1"
               horizontalAlignment="right" class="icon icon-md icon-round-md"></Label>
    </GridLayout>

</GridLayout>

<GridLayout rows=" *, auto" class="form gradient settings p-x-30"
            [visibility]=" this.step === 1 ?  'visible': 'collapse'">
    <GridLayout col="0" row="0" columns="*,auto" rows="auto, auto, auto" class="input-field" verticalAlignment="center"
                horizontalAlignment="center">
        <StackLayout verticalAlignment="center" horizontalAlignment="center" class="m-30" row="0" colSpan="2">
            <Label text="Monthly income"
                   textWrap="true"></Label>
        </StackLayout>
        <TextField class="input"
                   col="0" row="1"
                   hint="1000"
                   keyboardType="number"
                   [(ngModel)]="this.income"
                   ngDefaultControl
                   returnKeyType="next"
                   textAlignment="right"
                   (returnPress)="setIncome()"></TextField>
        <Label text="€" col="1" row="1" class="m-10 postfix"></Label>
        <StackLayout class="hr-light" row="2" colSpan="2"></StackLayout>
    </GridLayout>
    <GridLayout class="m-30" row="1" columns="*,*">
        <Label (tap)="previous_step()" text="X" verticalAlignment="middle" col="0"
               horizontalAlignment="center" class="icon icon-lg"></Label>
        <Label (tap)="setIncome()" text="V" verticalAlignment="middle" col="1"
               horizontalAlignment="center" class="icon icon-md icon-round-md"></Label>
    </GridLayout>
</GridLayout>
</StackLayout>
